<a asp-controller="account" asp-action="Register" class="btn btn-success">
    <span class="bi bi-tiktok"></span> ثبت نام <span class="bi bi-tiktok"></span>
</a> ||||

@{
    if (User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="user" asp-action="Index" class="btn btn-outline-dark" style="cursor: pointer" title="ورود به پنل کاربری">
            <span class="bi bi-wrench-adjustable-circle"></span> ورود به پنل کاربری <span class="bi bi-wrench-adjustable-circle"></span>
        </a>
    }
    else
    {
        <a asp-area="" asp-controller="account" asp-action="login" style="cursor: pointer;" title="ورود به پنل کاربری" class="btn btn-outline-dark">
            <span class="bi bi-wrench-adjustable-circle"></span> ورود به پنل کاربری <span class="bi bi-wrench-adjustable-circle"></span>
        </a>
    }

}
