@model Shopping.Database.Model.FeatureSection

@{
    ViewData["Title"] = "AddFeatureSection";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h1>افزودن قسمت ثبت ویژگی</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFeatureSection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeatureGroupId" class="control-label"></label>
                <select asp-for="FeatureGroupId" class="form-control" asp-items="ViewBag.FeatureGroupId"><option selected disabled hidden> گروه را انتخاب کنید </option></select>
            </div>
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr style="opacity: 20" class="text-danger " />
<partial name="FeatureSectionsPartial.cshtml" model="@ViewBag.FeatureSections" />
<hr style="opacity: 20" class="text-danger " />
<div>
    <a asp-action="Index">Back to List</a>
</div>

