@model Shopping.Database.Model.Feature

@{
    ViewData["Title"] = "EditFeature";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditFeature</h1>

<h4>Feature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFeature">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FeatureSectionId" class="control-label"></label>
                <select asp-for="FeatureSectionId" class="form-control" asp-items="ViewBag.FeatureSectionId"></select>
                <span asp-validation-for="FeatureSectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn btn-outline-dark">Back to List</a>
</div>

