@model Shopping.Database.Model.Feature

<div>
    <h5>نام قسمت ویژگی : @Model.FeatureSection.SectionName</h5>
    <h5>نام عنوان ویژگی : @Model.Title</h5>
    <hr />
    <h4 class="text-danger text-center">آیا حذف  میکنید؟</h4>
    <form asp-controller="Feature" asp-action="FeatureDelete" class="text-center">
        <input asp-for="Id" hidden />
        <button class="btn btn-success">بله</button>
        <a asp-area="admin" asp-controller="feature" asp-action="GetFeatures" class="btn btn-outline-danger">خیر</a>
    </form>
</div>