@model IEnumerable<Shopping.Database.Model.FeatureGroup>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    <a asp-area="admin" asp-controller="feature" asp-action="GetFeatureSectionsByFeatureGroup" asp-route-id="@item.Id" class="btn btn-warning"><span class="bi bi bi-pen"></span></a> |
                </td>
            </tr>

        }
    </tbody>
</table>
