@model Shopping.Database.Model.Feature

@{
    ViewData["Title"] = "FeatureDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>FeatureDetails</h1>

<div>
    <h4>Feature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureSection.SectionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditFeature" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



