@model Shopping.Database.Model.FeatureSection

<div>
    <h5>نام گروه ویژگی : @Model.FeatureGroup.GroupName</h5>
    <h5>نام قسمت ویژگی : @Model.SectionName</h5>
    <hr />
    <h4 class="text-danger text-center">آیا حذف  میکنید؟</h4>
    <form asp-area="Admin" asp-controller="Feature" asp-action="FeatureSectionDelete" class="text-center">
        <input asp-for="Id" hidden />
        <button class="btn btn-success">بله <span class="bi bi-check2-circle fa-lg"></span></button>
        <a asp-area="Admin" asp-controller="Feature" asp-action="GetFeatureSections" class="btn btn-danger">خیر <span class=" bi bi-x-circle fa-lg"></span></a>
    </form>
</div>