@model Shopping.Database.Model.FeatureSection

@{
    ViewData["Title"] = "FeatureSectionDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>FeatureSectionDetails</h1>

<div>
    <h4>FeatureSection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureGroup.GroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Feature" asp-action="EditFeatureSection" asp-route-id="@Model?.Id" class="btn btn-warning"><span class="bi bi bi-pen"></span></a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr style="opacity: 20" class="text-danger " />
<partial name="FeaturesPartial.cshtml" model="ViewBag.RelatedFeatures" />
