@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<a asp-area="Admin" asp-controller="Feature" asp-action="AddFeatureGroup" class="btn btn-success"><span class="bi bi-patch-plus"> افزودن گروه ثبت ویژگی</span></a> \\\\\\\\\\\\
<a asp-area="Admin" asp-controller="Feature" asp-action="AddFeatureSection" class="btn btn-success"><span class="bi bi-patch-plus"> افزودن قسمت ثبت ویژگی</span></a> \\\\\\\\\\\\
<a asp-area="Admin" asp-controller="Feature" asp-action="AddFeature" class="btn btn-success"><span class="bi bi-patch-plus"> افزودن ویژگی</span></a> \\\\\\\\\\\\


<hr style="opacity: 20" class="text-danger" />
@* <a asp-area="admin" asp-controller="feature" asp-action="addallfeatures" class="btn btn-outline-success">افرودن ویژگی ها</a>//////////// *@
<a asp-area="Admin" asp-controller="Feature" asp-action="GetFeatureGroups" class="btn btn-warning">FeatureGroups</a> ////////////
<a asp-area="Admin" asp-controller="Feature" asp-action="GetFeatureSections" class="btn btn-info">FeatureSections</a> ////////////
<a asp-area="Admin" asp-controller="Feature" asp-action="GetFeatures" class="btn btn-danger">Features</a> ////////////
<a asp-area="Admin" asp-controller="Feature" asp-action="FeaturesChart" class="btn btn-dark">FeaturesChart</a> ////////////
@* <hr style="opacity: 20" class="text-danger" />
<partial name="FeatureGroupsPartial.cshtml" model="@ViewBag.FeatureGroups" /> *@
@* <hr style="opacity: 20" class="text-danger" />
<partial name="FeatureSectionsPartial.cshtml" model="@ViewBag.FeatureSections" />
<hr style="opacity: 20" class="text-danger " />
<partial name="FeaturesPartial.cshtml" model="@ViewBag.Features" /> *@



