@model Shopping.Core.ViewModels.EditClassificationViewModel

@{
    ViewData["Title"] = "EditClassificationTitle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditClassificationTitle</h1>

<h4>ProductClassification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClassificationTitle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" readonly />
            <div class="form-group">
                <label asp-for="GroupEnName" class="control-label"></label>
                <input asp-for="GroupEnName" class="form-control" />
                <span asp-validation-for="GroupEnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupFaName" class="control-label"></label>
                <input asp-for="GroupFaName" class="form-control" />
                <span asp-validation-for="GroupFaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupImg" class="control-label"></label>
                <input asp-for="GroupImg" class="form-control" type="hidden" readonly/>
                <img src="~/images/ProductClassification/@Model.GroupImg" width="200" />
                <span asp-validation-for="GroupImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupDes" class="control-label"></label>
                <input asp-for="GroupDes" class="form-control"/>
                <span asp-validation-for="GroupDes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NotShow" /> @Html.DisplayNameFor(model => model.NotShow)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

