@model Shopping.Core.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login | ورود";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@{
    if (ViewBag.Message != null)
    {
        <h1 class="text-danger"><span class="fa fa-times text-danger"></span>@ViewBag.Message<span class="fa fa-times text-danger"></span></h1>
    }
}
<form asp-controller="account" asp-action="login">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounder-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background:#fca402">
                <div class="featured-image mb-3">
                    <img style="width: 250px;" src="~/Image/LoginRegister/Login.png" class="img-fluid">
                </div>
                <p class=" fs-2" style="font-weight: 600;color:#151515;">آزمونک</p>
                <small class=" text-wrap text-center" style="width: 17rem; color:#151515;">لطفا نام کاربری و رمز عبور خود را وارد نمایید</small>
            </div>

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4 text-center">
                        <h2>ورود به حساب کاربری</h2>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="PhoneNumb" class="form-control form-control-lg bg-light fs6" placeholder="شماره تلفن">
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control form-control-lg bg-light fs6" placeholder="کلمه عبور">
                    </div>

                    <div class="inpute-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6" style="color:#151515;background-color:#fca402; border:2px solid #151515">ورود</button>
                    </div>
                    <div class="row">
                        <small>حساب کاربری ندارید؟ <a asp-controller="account" asp-action="Register">ثبت نام</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
