@model Shopping.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register | ثبت نام";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<form asp-controller="account" asp-action="register" enctype="multipart/form-data">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounder-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #fca402">
                <div class="featured-image mb-3">
                    <img style="width: 250px;" src="~/Image/LoginRegister/Register.png" class="img-fluid">
                </div>
                <p class=" fs-2" style="font-weight: 600;color:#151515;">آزمونک</p>
                <small class=" text-wrap text-center" style="width: 17rem;color:#151515;">اطلاعات خود را کامل کنید</small>
            </div>

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4 text-center">
                        <h2>ساخت حساب کاربری</h2>
                    </div>
                   @*  <div class="input-group mb-3" hidden>
                        <input asp-for="FName" class="form-control form-control-lg bg-light fs6" placeholder="نام" readonly hidden>
                    </div> *@
                   @*  <div class="input-group mb-3" hidden>
                        <input asp-for="LName" class="form-control form-control-lg bg-light fs6" placeholder="نام خانوادگی" readonly hidden>
                    </div> *@
                    @* <div class="input-group mb-3">
                        <label asp-for="ProfileImg" class="control-label"></label>
                        <br />
                        <input type="file" name="profileImg" onchange="ImgPreview(this)" accept=".jpg,.png" />
                        <img id="Product-preview" src="" width="256" />
                        <input asp-for="ProfileImg" id="img-name" class="form-control form-control-lg bg-light fs6">
                        <span asp-validation-for="ProfileImg" class="text-danger"></span>
                    </div> *@
                    <div class="input-group mb-3">
                        <input asp-for="PhoneNumb" class="form-control form-control-lg bg-light fs6" placeholder="شماره تلفن">
                    </div>
                    <span asp-validation-for="PhoneNumb" class="text-warning"></span> 
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control form-control-lg bg-light fs6" placeholder="کلمه عبور">
                    </div>
                    <span asp-validation-for="Password" class="text-warning"></span>
                    <div class="input-group mb-1">
                        <input asp-for="RePassword" class="form-control form-control-lg bg-light fs6" placeholder="تکرار کلمه عبور">
                    </div>
                    <span asp-validation-for="RePassword" class="text-warning"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Gender" class="form-control form-control-lg bg-light fs6" placeholder="جنسیت">
                    </div>

                    <div class="inpute-group mb-3 mt-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6" style="background-color:#fca402;border:2px solid #151515;color:#151515;">عضویت در سایت</button>
                    </div>
                    <div class="row">
                        <small>قبلا ثبت نام کرده اید ؟ <a asp-controller="account" asp-action="Login">ورود به حساب</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ImgPreview(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    let img = document.getElementById('Product-preview');
                    img.setAttribute('src', e.target.result);

                    document.getElementById('img-name').value = input.files[0].name;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</form>







