@model Shopping.Database.Model.Commodity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Commodity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Commodity" asp-action="AddNewCommodity" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" value="@ViewBag.CommodityId" class="form-control" readonly hidden/>
                <span asp-validation-for="Id" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                @{
                    if (ViewBag.BrandCount < 1)
                    {
                        <label asp-for="BrandId" class="control-label"></label>
                        <input asp-for="BrandId" class="form-control bg-danger" placeholder="گروهی وجود ندارد" readonly/>
                    }
                    else
                    {
                        <label asp-for="BrandId" class="control-label"></label>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"><option selected disabled hidden> گروه را انتخاب کنید </option></select>

                    }
                }
                
            </div>
            
            <div class="form-group">
                @{
                    if (ViewBag.ClassificationCount < 1)
                    {
                        <label asp-for="GroupId" class="control-label"></label>
                        <input asp-for="GroupId" class="form-control bg-danger" placeholder="گروهی وجود ندارد" readonly />
                    }
                    else
                    {
                        <label asp-for="GroupId" class="control-label"></label>
                        <select asp-for="GroupId" class="form-control" asp-items="ViewBag.ClassificationId"><option selected disabled hidden> گروه را انتخاب کنید </option></select>

                    }
                }

            </div>

            <div class="form-group">
                <label asp-for="ProductFaName" class="control-label"></label>
                <input asp-for="ProductFaName" class="form-control" placeholder="نام کالا به فارسی"/>
                <span asp-validation-for="ProductFaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductEnName" class="control-label"></label>
                <input asp-for="ProductEnName" class="form-control" placeholder="نام کالا به انگلیسی"/>
                <span asp-validation-for="ProductEnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImg" class="control-label"></label>
                <br />
                <input type="file" name="CommodityImg" onchange="ImgPreview(this)" accept=".jpg,.png" />
                <img id="Product-preview" src="" width="256" />
                <input asp-for="ProductImg" id="img-name" class="form-control" readonly hidden />
                <span asp-validation-for="ProductImg" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Price" class="control-label"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">تومان</span>
                    </div>
                    <input asp-for="Price" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0" />
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" value="0" placeholder="0" min="0" max="99" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="control-label"></label>
                <input asp-for="Inventory" min="0" class="form-control" placeholder="تعداد موجودی کالا را وارد نمایید"/>
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <input asp-for="Introduction" class="form-control" />
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NotShow" /> @Html.DisplayNameFor(model => model.NotShow)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDate" class="control-label" hidden></label>
                <input asp-for="RegisterDate" class="form-control" readonly hidden/>
                <span asp-validation-for="RegisterDate" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label" hidden></label>
                <input asp-for="UpdateDate" class="form-control" readonly hidden />
                <span asp-validation-for="UpdateDate" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function ImgPreview(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = (e) => {
                let img = document.getElementById('Product-preview');
                img.setAttribute('src', e.target.result);

                document.getElementById('img-name').value = input.files[0].name;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>