@model Shopping.Database.Model.CommodityAlbum

<div>
    <img src="~/Images/commodity/CommodityAlbum/@Model.CommodityImg" width="200" />
    <hr />
    <h4 class="text-danger text-center">آیا حذف  میکنید؟</h4>
    <form asp-area="Admin" asp-controller="Commodity" asp-action="RemoveCommodityAlbum" class="text-center">
        <input asp-for="Id" hidden />
        <button class="btn btn-success">بله <span class="bi bi-check2-circle fa-lg"></span></button>
        <a asp-area="Admin" asp-controller="commodity" asp-action="AddCommodityAlbum" asp-route-Id="@Model.Commodity.Id" class="btn btn-danger">خیر <span class=" bi bi-x-circle fa-lg"></span></a>
    </form>
</div>
