@model Shopping.Core.ViewModels.EditBrandViewModel

@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditBrand</h1>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Brand" asp-action="EditBrandTitel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BrandEnName" class="control-label"></label>
                <input asp-for="BrandEnName" class="form-control" />
                <span asp-validation-for="BrandEnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandFaName" class="control-label"></label>
                <input asp-for="BrandFaName" class="form-control" />
                <span asp-validation-for="BrandFaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandDes" class="control-label"></label>
                <input asp-for="BrandDes" class="form-control" />
                <span asp-validation-for="BrandDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandImg" class="control-label" hidden></label>
                <input asp-for="BrandImg" class="form-control" readonly type="hidden"/>
                <img src="~/images/brand/@Model.BrandImg"/>
                <span asp-validation-for="BrandImg" class="text-danger" hidden></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NotShow" /> @Html.DisplayNameFor(model => model.NotShow)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

